.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 20px;
  background-color: #f8f8f8;
  border-bottom: 2px solid grey;
}

.header .logo {
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}
.menu-icon {
  width: 35px;
  height: 35px;
}
.logo-icon {
  width: 37px;
  height: 37px;
}
.more-icon {
  display: none;
}

.header nav ul li a {
  text-decoration: none;
  color: grey;
}

.header .login-btn-nav {
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .login-btn-nav{
    display: none;
  }
  .header {
    padding: 6px 20px;
  }
  .header nav ul {
    flex-direction: column;
    align-items: end;
  }
  .logo-icon {
    width: 54px;
    height: 54px;
  }
}
